*.pyc
*.egg-info
*.key
.Python
tests/
bin/
lib/
build/
include/
selfspy-unicodefail/
selfspy.spec
sept.selfspy/

selfspy/*18942.py
selfspy/*orig
*.egg

SimpleXibDemo.xib

selfspy.xcode*
test2.py
test.py

# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format:
.idea/
dist

buffer.txt
