*.pyc
*.egg
*.egg-info
*.key
build/
dist/selfspy.app*

.Python
tests/
bin/
lib/
include/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format:
.idea/
